<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <application>
    <receiver
      android:name="expo.modules.strideactivityrecognition.StrideActivityRecognitionReceiver"
      android:exported="false" />
  </application>
</manifest>
